<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alley.rain.dao.UserDao">

    <insert id="insert">
        INSERT INTO t_user
        (user_id,user_name,password,phone)
        VALUES
        (#{userId},#{userName},#{password},#{phone})
    </insert>

    <update id="updateUser">
        UPDATE t_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </update>

    <delete id="deleteUser">
        DELETE FROM t_user
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <select id="getUserById" resultMap="UserMap">
        SELECT
        <include refid="QUERY_USER_LIST"/>
        FROM
        t_user
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getUserList" resultMap="UserMap">
        SELECT
        <include refid="QUERY_USER_LIST"/>
        FROM
        t_user
        ORDER by user_id
    </select>

    <!--测试Map返回-->
    <select id="getUserMapInfo" resultType="java.util.HashMap">
        SELECT
        user_name AS userName,
        phone AS userPhone
        FROM
        t_user
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

    <!--测试List<Map>返回-->
    <select id="getUserMapList" resultType="java.util.HashMap">
        SELECT
        user_name AS name,
        phone AS phone
        FROM
        t_user
        ORDER BY user_id
    </select>

    <sql id="QUERY_USER_LIST">
        user_id, user_name, password, phone
    </sql>

    <resultMap id="UserMap" type="UserPO">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
